*{
    background-color: rgb(69, 133, 77);
}
#pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temaClaro{
    background-color: white;
    transition: 0.8s;
}

.temaEscuro{
    background-color: black;
    color: white;
    transition: 0.5s;
}