/* FEED */
#feed{
    width: 45%;
}

.back{
    height: 100%;
    margin-right:40px;
}
.back img{
    width: 100%;
    height: 100%;
}

/* BANNER */

#banner{
    width: 100%;
    height: 300px;
    background-image: url(../../images/banners/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

.userIconProfile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    bottom: -100px;
    left: 20px;
    border: 5px solid #14171A;
}
.userIconProfile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/* main */
#editProfileSection{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    padding: 10px 0px;
    margin-bottom: 10px;
}

#editProfileSection button{
    background-color: transparent;
    border: white 1px solid;
    margin: 0px 20px;
}

#bioProfile{
    width: 100%;
}

#userBio{
    width: 100%;
    height: auto;
    margin: 20px 0;
    color: white;
    line-height: 25px;
}
#userBio img{
    width: 15px;
    height: 15px;
    margin: 0px 5px;
}