*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#pagina{
    margin: 0px auto;
    width: 40%;
    height: auto;
    align-items: center;
}

#banner{
    width: 100%;
    height: 300px;
    background-image: url(images/salario-familia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

main{
    width: 80%;
    margin: 0px auto;

}
 #empregado{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    align-items: center;
   

}

#empregado input{
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
}

::placeholder{
    font-size: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
    font-size: 20px;
        
}

td , th{
    border: 1px solid black;
    padding: 18px;
}

footer div{
    display: flex;
    justify-content: center;
}

footer div a{
    text-decoration: none;
    color: white;
    background-color: rgb(20, 145, 134);
    padding: 15px 100px;
    border-radius: 10px;
    border-bottom: 5px solid gray;
    font-weight: bold;
    font-size: 23px;
}

#resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 80px;
    background-color: coral;
    color: white;
    font-weight: bold;
}
