#pagina{
    background-color: aqua;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}#dadosCarro{
    font-size: 25px;
    width: 400px;
    height: auto;
    margin: 20px;
    padding: 10px;
    background-color: coral;
    border: 2px solid black;
    border-radius: 15px;
}
table{
    text-align: left;
    padding: 10px;
}

#acelerador{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
}